@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html {
  scroll-behavior: smooth;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #22c55e;
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.embla__slide {
  transition:
    transform 0.3s,
    opacity 0.3s;
  opacity: 0.6;
}

.embla__slide.is-selected {
  transform: scale(1.05);
  opacity: 1;
}
.curved-cut {
  clip-path: path(
    "M0,60 Q50%,-40 100%,60 L100%,calc(100% - 60px) Q50%,calc(100% + 40px) 0,calc(100% - 60px) Z"
  );
}
.faq-content {
  overflow: hidden;
}

.faq-content[data-state="open"] {
  animation: slideDown 300ms ease-out;
}

.faq-content[data-state="closed"] {
  animation: slideUp 250ms ease-in;
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Slow scroll */
.animate-marqueeSlow {
  animation: marquee 25s linear infinite;
}

/* Fast scroll */
.animate-marqueeFast {
  animation: marquee 12s linear infinite;
}
